{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cute+Font&family=Gamja+Flower&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

</head>
<body>

    <div class="top-menu-frame"> <!--상단 메뉴-->
        <a href="http://127.0.0.1:8000/projectSummary/?">
            <div class="log-Container">
                <div class="mainLog-img"></div>
                <h2>Summary</h2>
            </div>
        <a>
        <button class="alarm-img"></button> <!-- 알람창 기능 -->
        <button class="new-document"> <!-- 새 노트 만드는 버튼 -->
            <p>+ New Document</p>
        </button>
    </div>
    
    <div class="search-box"> <!-- 검색창 기능 -->
        <input type="text" placeholder=" Type to search..">
        <div class="search-icon"><i class="fas fa-search"></i></div>
        <div class="cancel-icon"><i class="fas fa-times"></i></div>
        <div class="search-data"></div>
    </div>


    <div class="profile-frame"> <!-- 프로필 창 프레임-->
        <div class="proflie-img"></div> <!-- 프로필 이미지 -->

        <!-- 이 아래 하위 요소들은 모두 폴더 등의 세부 요소들 -->
        <div class="profile-category-Notes-frame"> <!-- 노트 상단바 -->
            <h3 class="font-E">Notes</h3>
        </div>

        <button class="proflie-category-allNote"> <!-- 전체노트바 -->
            <div class="profile-category-allNote-img"></div>
            <h3 class="font-E">Full notes</h3>
        </button>

        <button class="proflie-category-Bookmark"> <!-- 북마크바 -->
            <div class="profile-category-Bookmark-img"></div>
            <h3 class="font-E">Bookmark</h3>
        </button>


        <div class="profile-category-Folder-frame"> <!-- 폴더 프레임바 -->
            <h3 class="font-E">Folders</h3>
            <button class="profile-category-newFolderBnt"> <!-- 새 폴더 버튼 -->
                <svg class="newFolderPlus" width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <rect x="3" y="9" width="14" height="2" fill="gray" />
                    <rect x="9" y="3" width="2" height="14" fill="gray" />
                </svg>
            </button>
        </div>
        <button class="proflie-category-default-Folder-frame"> <!-- 기본 폴더바 -->
            <div class="proflie-category-default-Folder-frame-default-folder-img"></div>
            <h3 class="font-E">Default folder</h3>
        </button>

        <div class="proflie-setting-frame"> <!-- 설정창과 휴지통 기능 -->
            <button class="proflie-setting"></button>
            <button class="proflie-trash"></button>
        </div>

    </div>

    <div class="recent-document-frame"> <!-- 최근 문서 프레임 -->
        <div class="recent-document-topBar-Container"> <!-- 최근 노트 상단바 -->
            <div class="recent-document-topBar-NoteName font-E"> <!-- 이름 프레임 -->
                <h2>Note Name</h2>
            </div>
            <div class="recent-document-topBar-PostDate font-E"> <!-- 파일 정보 프레임 -->
                <h2>Post Date</h2>
            </div>
        </div>

        <div class="recent-document-table-Container"> <!-- 최근 노트박스 전체 컨테이너 -->
            <div class="file-list-container"> <!-- 최근 파일 하나 컨테이너 -->
                <ul id="fileList"></ul>
                    <div class="modal" id="fileModal">
                        <div class="modal-content"> <!-- 파일 정보 -->
                            <h3 class="file-ModalTitle" id="fileModalTitle">File Content</h3>
                            <div class="fileContents-Container">
                                <div id="fileContent" contenteditable="true"></div>
                            </div>
                            <form id="saveForm" enctype="multipart/form-data"> <!-- 세이브 버튼. !!현재 오류!! -->
                                <button class="save-btn" id="saveFileBtn">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal"> <!-- 화면 흐려짐 -->

        <div class="modal-content"> <!-- 새문서 창 -->
            <h3 class="modal-title font-E">Create a new note</h3>

            <form class="uploadForm" id="uploadForm" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" id="fileInput" name="file" accept=".txt, .pdf, .docx, .jpg, .mp3, .wav"> <!--파일 선택-->
            </form>

            <div class="category-Container"> <!-- 버튼들 컨테이너 -->

                <button class="OCRBtn-Container" id="OCRBtn"> <!-- OCR버튼 -->
                    <h3 class="OCR-name font-E">OCR</h3>
                    <div class="vertical-line"></div> <!-- 나눔 선 -->
                    <p class="OCR-explan font-E">jpg, png, .... Select an <br>image file</p>
                </button>

                <button class="STTBtn-Container" id="STTBtn"> <!-- STT버튼 -->
                    <h3 class="STT-name font-E">STT</h3> 
                    <div class="vertical-line"></div>
                    <p class="STT-explan font-E">mp3, wav, .... Select an <br>audio file</p>
                </button>

                <button class="GPTBtn-Container" id="GPTBtn"> <!-- GPT버튼 -->
                    <h3 class="GPT-name font-E">GPT</h3>
                    <div class="vertical-line"></div>
                    <p class="GPT-explan font-E">jpg, png, .... Select an <br>image or note file</p>
                </button>

                <a class="sub1-page" href="{% url 'sub1_page' %}"> <!-- 일반 노트 사이트 이동 name=sub1_page로 해놓음 -->
                    <button class="NoteBtn-Container"> <!-- 새 Note 만들기 버튼 -->
                        <h3 class="Note-name font-E">Normal</h3>
                        <div class="vertical-line"></div>
                        <p class="Note-explan font-E">Create new notes</p>
                    </button>
                </a>
            </div>

            <button class="uploadBtn" type="button" id="uploadBtn">File Upload</button> <!-- 업로드 버튼 -->
            <button class="modal-cancelBtn" id="modal-cancelBtn">Cancel</button> <!-- 취소 버튼 -->
        </div>
    </div>

    <button class="queastion"></button> <!-- FAQ, Q&A 기능 -->


    <!-- 외부 JavaScript 파일 -->
    <script src="{% static 'scripts.js' %}"></script>
</body>
</html>