{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cute+Font&family=Gamja+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>

    <div class="top-menu-frame"> <!--상단 메뉴-->
        <h2>Summary</h2>
        <button class="alarm-img"></button> <!-- 알람창 기능 -->
        <button class="new-document"> <!-- 새 노트 만드는 버튼 -->
            <p>+ New Document</p>
        </button>
    </div>

    <!-- 검색창 기능 -->
    <!-- <div class="Notes">
        <div class="top-tools-bar" contenteditable="true"></div>
            <button class="highlight-box">
            </button>
        <div class="notes-page" contenteditable="true"></div>
        <button class="save">
            SAVE
        </button>
    </div> -->
    
    <div class="search-box">
        <input type="text" placeholder=" Type to search..">
        <div class="search-icon"><i class="fas fa-search"></i></div>
        <div class="cancel-icon"><i class="fas fa-times"></i></div>
        <div class="search-data"></div>
    </div>


    <div class="profile-frame"> <!-- 프로필 창 프레임-->
        <div class="proflie-img"></div> <!-- 프로필 이미지 -->
        <button class="proflie-category-allNote"></button> <!-- 전체폴더, 북마크, 개인이 작성한 폴더 등의 요소들 -->
        <button class="proflie-category-BookMark"></button>
        <button class="proflie-category-Folder"></button>

        <div class="proflie-setting-frame"> <!-- 설정창과 휴지통 기능 -->
            <button class="proflie-setting"></button>
            <button class="proflie-trash"></button>
        </div>
    </div>

    <div class="recent-document-frame">
        <div class="recent-document-topBar-Container"> <!-- 최근 노트 상단바 -->
            <div class="recent-document-topBar-NoteName"> <!-- 이름 프레임 -->
                <h2>Note Name</h2>
            </div>
            <div class="recent-document-topBar-PostDate"> <!-- 파일 정보 프레임 -->
                <h2>Post Date</h2>
            </div>
        </div>

        <div class="recent-document-table-Container"> <!-- 최근 노트박스 전체 컨테이너 -->
            <div class="file-list-container"> <!-- 최근 파일 하나 컨테이너 -->
                <ul id="fileList"></ul>
                    <div class="modal" id="fileModal">
                        <div class="modal-content"> <!-- 파일 정보 -->
                            <h3 class="file-ModalTitle" id="fileModalTitle">File Content</h3>
                            <div id="fileContent" contenteditable="true"></div>
                            <form id="saveForm" enctype="multipart/form-data">
                                <button class="save-btn" id="saveFileBtn">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal">

        <div class="modal-content">
            <h3>Create a new note</h3>

            <form class="uploadForm" id="uploadForm" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" id="fileInput" name="file" accept=".txt, .pdf, .docx"> <!--파일 선택-->
            </form>

            <div class="OCRBtn-Container"> <!-- OCR버튼 컨테이너 -->
                <button class="OCRBtn-Name" id="OCRBtn">OCR</button> <!-- id OCRBtn으로 통일 -> 눌렸을 때 기능 구현 해야함 -->
                <button class="OCRBtn-Type" id="OCRBtn">jpg, png, .... Select an image file</button>
            </div>
            <div class="STTBtn-Container"> <!-- STT버튼 컨테이너 -->
                <button class="STTBtn-Name" id="STTBtn">STT</button> <!-- id STTBtn으로 통일 -> 눌렸을 때 기능 구현 해야함 -->
                <button class="STTBtn-Type" id="STTBtn">mp3, wav, .... Select an audio file</button>
            </div>
            <div class="GPTBtn-Container"> <!-- GPT버튼 컨테이너 -->
                <button class="GPTBtn-Name" id="GPTBtn">GPT</button> <!-- id GPTBtn으로 통일 -> 눌렸을 때 기능 구현 해야함 -->
                <button class="GPTBtn-Type" id="GPTBtn">jpg, png, .... Select an image or note file</button>
            </div>

            <button class="uploadBtn" type="button" id="uploadBtn">File Upload</button> <!-- 업로드 버튼 -->
            <button class="modal-cancelBtn" id="modal-cancelBtn">Cancel</button> <!-- 취소 버튼 -->
        </div>
    </div>

    <button class="queastion"></button> <!-- FAQ, Q&A 기능 -->


    <!-- 외부 JavaScript 파일 -->
    <script src="{% static 'scripts.js' %}"></script>
</body>
</html>