* {
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.top-menu-frame {
    height: 70px;
    width: 100%;
    border: solid #505050;
    border-width: 0 0 1px;
}

.top-menu-frame h2 {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 15%;
    top: 3.75%;
    color: #2489FF;
}

.search-box{
    position: absolute;
    top : 18px;
    left : 550px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    box-shadow: 5px 5px 30px rgba(0,0,0,.2);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box.active{
    width: 800px;
}

.search-box input{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 50px;
    background: #fff;
    outline: none;
    padding: 0 60px 0 20px;
    font-size: 18px;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box input.active{
    opacity: 1;
}

.search-box input::placeholder{
    color: black;
}
  
.search-box .search-icon{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    width: 50px;
    background: #2489FF;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box .search-icon.active{
    right: 5px;
    height: 50px;
    line-height: 50px;
    width: 50px;
    font-size: 20px;
    background: #2489FF;
    color: #fff;
    transform: translateY(-50%) rotate(360deg);
}
  
.search-box .cancel-icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  
.search-box .cancel-icon.active{
    right: -40px;
    transform: translateY(-50%) rotate(360deg);
}
  
.search-box .search-data{
    text-align: center;
    padding-top: 7px;
    color: #fff;
    font-size: 18px;
    word-wrap: break-word;
}
  
.search-box .search-data.active{
    display: none;
}

.alarm-img {
    position: absolute;
    height: 40px;
    width: 40px;
    right: 23%;
    top: 1.8%;
    border: none;
    background: url(images/alarm-img.png);
    opacity: 0.9;
}

.new-document {
    position: absolute;
    height: 50px;
    width: 145px;
    border: 0;
    border-radius: 15px;
    background-color: #2489FF;
    right: 14%;
    top: 10px;
    box-shadow: 30px, 30px, 10px, rgba(0, 0, 0, 25); /*왜 안되냐*/
    transition: all 0.3s;
}

.new-document p {
    font-family: "Gamja Flower", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #EFEFEF;
    font-size: 21px;
    background: none;
}

.new-document:hover{
    background-color:#004DFF;
}


.profile-frame {
    position: absolute;
    height: 800px;
    width: 300px;
    background-color: #ececec;
    border: 2px solid #303030;
    border-radius: 20px;
    left: 220px;
    top: 100px;
}

.proflie-img {
    position: relative;
    height: 200px;
    width: 200px;
    border: 2px solid #303030;
    border-radius: 50%;
    background: url(images/proflie-img.png);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 17%;
}


.proflie-category-allNote {
    position: relative;
    height: 50px;
    width: 225px;
    border: 2px solid #303030;
    border-width: 0 0 2px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 15%;
}
.proflie-category-BookMark {
    position: relative;
    height: 50px;
    width: 225px;
    border: 2px solid #303030;
    border-width: 0 0 2px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 18%;
}
.proflie-category-Folder {
    position: relative;
    height: 50px;
    width: 225px;
    border: 2px solid #303030;
    border-width: 0 0 2px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 21%;
}


.proflie-setting-frame {
    position: absolute;
    height: 30px;
    width: 100%;
    border: 1px solid #505050;
    border-width: 1px 0 0 0;
    opacity: 0.8;
    bottom: 3%;
}

.proflie-setting {
    position: absolute;
    height: 50px;
    width: 50px;
    background: url(images/setting-img.png);
    border: none;
    opacity: 0.8;
    left: 82%;
}

.proflie-trash {
    position: absolute;
    height: 60px;
    width: 60px;
    background: url(images/profile-trash-img.png);
    border: none;
    transform: translate(-50%, -50%);
    left: 7%;
    top: 70%;
}



.recent-document-frame {
    position: absolute;
    border: 1px solid black;
    height: 800px;
    width: 1100px;
    transform: translate(-50%, -50%);
    left: 58%;
    top: 52.5%;
}


.recent-document-topBar-Container {
    position: absolute;
    border: 1px solid black;
    height: 6%;
    width: 100%;
}

.recent-document-topBar-NoteName {
    position: absolute;
    border: 1px solid black;
    height: 100%;
    width: 60%;
}
.recent-document-topBar-NoteName h2 {
    position: absolute;
    top: 13%;
    left: 10%;
    font-family: "Gamja Flower", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    color: #303030;
}

.recent-document-topBar-PostDate {
    position: absolute;
    border: 1px solid black;
    height: 100%;
    width: 40%;
    right: 0;
}
.recent-document-topBar-PostDate h2{
    position: absolute;
    top: 13%;
    left: 10%;
    font-family: "Gamja Flower", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    color: #303030;
}


.recent-document-table-Container {
    position: absolute;
    border: 1px solid black;
    height: 94%;
    width: 100%;
    bottom: 0;
}

/* .file-list-container {
    position: absolute;
    padding: 10px;
    border: 1px solid black;
    background-color: #f8f8f8;
    border-radius: 30px;
    height: 25%;
    width: 95%;
    transform: translate(-50%, -50%);
    top: 17%;
    left: 50%;
} */

#fileList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.file-box { /*최근 파일 리스트 박스*/
    position: relative;
    /* border: 1px solid #303030; */
    border-radius: 10px;
    padding: 20px;
    margin: 15px 0;
    width: 90%;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50px;
    cursor: pointer;
}

.file-box:hover {
    background-color: #e0e0e0;
}

.file-box h2 {
    font-family: "Gamja Flower", sans-serif;
    font-size: 20px;
    margin: 0 0 10px 0;
    background: none;
}

.file-box p {
    font-family: "Gamja Flower", sans-serif;
    font-size: 16px;
    margin: 0;
    background: none;
}

.file-box-delete {
    position: absolute;
    background: url(images/delete-img.png);
    height: 20px;
    width: 20px;
    left: 94%;
    top: 40%;
    border: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6); /* 배경 투명도 조절 */
}

.modal-content  {
    margin: 10% auto; /* 화면 중앙 정렬 */
    padding: 20px;
    height: 55%;
    width: 40%;
    border-radius: 20px;
    background-color: #ffffff; /* 모달 창 배경색을 하얀색으로 설정 */
}

.modal-content h3 {
    position: relative;
    left: 3%;
    top: 1%;
    background: none;
    font-family: "Gamja Flower", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
}

.uploadForm {
    position: relative;
    height: 60%;
    width: 50%;
    left: 3%;
    top: 3%;
    border-radius: 20px;
}


.modal-content input { /*파일 선택 박스*/
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #ececec;
    border-radius: 20px;
    transition: all 0.4s;
}

.uploadForm input::file-selector-button { /*모달 파일 선택 버튼 제거*/
    display: none;
}

.modal-content input:hover { /*파일 선택 박스 효과*/
    background-color: #d8d8d8;
}

.OCRBtn-Container {
    position: relative;
    background-color: #f5f5f5;
    height: 100px;
    width: 300px;
    border: 0;
    border-radius: 10px;
    left: 57.5%;
    top: -57%;
}
.OCRBtn-Name {
    position: absolute;
    background: none;
    height: 100%;
    width: 30%;
    border-width: 0 1px 0 0;

    font-family: "Gamja Flower", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
}
.OCRBtn-Type {
    position: absolute;
    background: none;
    height: 100%;
    width: 70%;
    border: 0;
    left: 30%;

    font-family: "Gamja Flower", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
}

.STTBtn-Container {
    position: relative;
    background-color: #f5f5f5;
    height: 100px;
    width: 300px;
    border: 0;
    border-radius: 10px;
    left: 57.5%;
    top: -56%;
}
.STTBtn-Name {
    position: absolute;
    background: none;
    height: 100%;
    width: 30%;
    border-width: 0 1px 0 0;

    font-family: "Gamja Flower", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
}
.STTBtn-Type {
    position: absolute;
    background: none;
    height: 100%;
    width: 70%;
    border: 0;
    left: 30%;

    font-family: "Gamja Flower", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
}

.GPTBtn-Container {
    position: relative;
    background-color: #f5f5f5;
    height: 100px;
    width: 300px;
    border: 0;
    border-radius: 10px;
    left: 57.5%;
    top: -55%;
}
.GPTBtn-Name {
    position: absolute;
    background: none;
    height: 100%;
    width: 30%;
    border-width: 0 1px 0 0;

    font-family: "Gamja Flower", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
}
.GPTBtn-Type {
    position: absolute;
    background: none;
    height: 100%;
    width: 70%;
    border: 0;
    left: 30%;

    font-family: "Gamja Flower", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
}


.uploadBtn { /*업로드 버튼*/
    position: relative;
    height: 50px;
    width: 100px;
    border: 0;
    border-radius: 5px;
    left: 83%;
    top: -34%;

    font-family: "Gamja Flower", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #EFEFEF;
    font-size: 18px;
    
    background-color: #2489FF;
    transition: all 0.3s;
}

.uploadBtn:hover{
    background-color:#004DFF;
}

.modal-cancelBtn { /*파일 업로드창 취소 버튼*/
    position: relative;
    height: 50px;
    width: 100px;
    border: 0;
    border-radius: 5px;
    left: 55%;
    top: -34%;

    font-family: "Gamja Flower", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #3f3f3f;
    font-size: 18px;
    
    background-color: #ececec;
    transition: all 0.3s;
}

.modal-cancelBtn:hover {
    background-color: #cecece;
}

.save-btn { /*세이브 버튼*/
    position: absolute;
    height: 40px;
    width: 70px;
    border: 0;
    border-radius: 5px;
    left: 62%;
    top: 66%;

    font-family: "Gamja Flower", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #EFEFEF;
    font-size: 18px;
    
    background-color: #2489FF;
    transition: all 0.3s;
}

.save-btn:hover {
    background-color: #004DFF;
}

.queastion {
    position: absolute;
    background: url(images/queastion_img.png);
    height: 74px;
    width: 74px;
    border: 0;
    top: 90%;
    left: 94%;
    opacity: 0.7;
}